/*
  Pragmatic JavaScript
  Chapter 2
  Programming Assignment

  Author: Bernice Templeman
  Date: 04/18/2024
  Filename: style.css
*/

/* Add your CSS styles here */
/* CSS Reset */
body,
header,
nav,
main,
footer,
img,
h1,
h3,
ul,
aside,
figure,
figcaption,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for body and images */
body {
  background-color: #f6eee4;
}

h1 {
  text-align: center;
}

div #message {
  clear: left;
  color: red;
  margin-left: 25px;
  margin-bottom: 20px;
}

/* Style rules for form elements  */
fieldset,
input,
textarea {
  margin-bottom: 0;
}

fieldset legend {
  font-weight: bold;
  font-size: 1.25em;
}

label {
  display: block;
  padding-top: 2%;
}


form #reservationForm {
  margin: 0 auto;
  display: block;
  padding: 2%;
  background-color: #78593a;
  color: #f6eee4;
  font-size: 1.25em;
  border-radius: 10px;
}

.form-container {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

form {
  width: 70%;
  margin: 0 auto;
}
